.header-bg{
    background: #000;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
 }

 .header-menu {
    display: flex;
    gap: 40px;
   color: #ffffff;
   font-family: 'poppins';
   font-weight: 400;
 }

 .header-menu a{
    padding: 16px 0px;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
 }
 .header-menu a:after {
    content: " ";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    transition: 0.3s;
 }
 .header-menu a:hover::after,
 .header-menu a.ativo::after {
    width: 100%;
 }



@media (max-width: 900px){

   .header {
      flex-direction: column;
      gap: 40px;
      padding: 20px;
      padding-top: 25px;
      
  }

 
  
}

