.partners{
    padding-top: 60px;
    padding-bottom: 120px;
    padding: 60px 20px 120px 20px;
}

.partners ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
margin: 0 auto;
}

.partners li{
    display: flex;
   padding: 32px; 
    border-left: 2px solid var(--cor-2);
}
.partners li:first-child,
.partners li:nth-child(5) {
  border-left: none;
}

.partners li:nth-child(n+5){
    border-top: 2px solid var(--cor-2);
}

.partners img{
    margin: auto;
}

.partners h2{
    margin-bottom: 60px;
}

@media(max-width: 900px){
    .partners{
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .partners ul{
        grid-template-columns: repeat(2, 1fr);

    }
    .partners li:nth-child(odd){
        border-left: none;
    }
    .partners li:nth-child(n+3){
        border-top: 2px solid var(--cor-2);
    }
}